body {
	font-family: Arial, sans-serif;
    background-color: #BEF7E2;
}

button {
	margin-top: 0px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition-duration: 0.4s;
      
}

button:hover {
    background-color: #555555;
    color: white;
  }

input[type="number"],
input[type="text"] {
	margin-bottom: 5px;
}

div{   
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}